In [1]:
import pandas as pd
import csv
import time

In [2]:
def rearrange_csv_columns(path):
    new_path = '/'.join(path.split('/')[:-1]) + '/new_' + path.split('/')[-1]
    num_of_cols = 35
    prob_col =  11
    prob_string_list = [' Jr."' , ' Jr.']
     
    with open(path, "r") as f_in, open(new_path, "w") as f_out:
        reader = csv.reader(f_in)
        writer = csv.writer(f_out)
        for row in reader:
            if len(row) == num_of_cols + 1:
                assert row[prob_col] in prob_string_list, row[prob_col] + ' -> id:' + str(row[0])
                new_row[:prob_col-1] = row[:prob_col-1]
                new_row[prob_col-1] = row[prob_col-1] + row[prob_col]
                new_row[prob_col:] = row[prob_col+1:]
            else:
                new_row = row

            writer.writerow(new_row)

    f_in.close()
    f_out.close()
    
    return new_path

In [3]:
# subjects 11, 22 are missing => 21 subjects in total
subjects_dict = dict()
with open('../project/app/data/policy_agenda.csv', "r") as f_in:
    reader = csv.reader(f_in)
    for row in reader:
        subjects_dict[float(row[0])] = row[1]
    f_in.close()

##### outer bills file

In [4]:
# _ = rearrange_csv_columns('data/bills/bills.csv')
# bills = pd.read_csv('data/bills/new_bills.csv')

In [5]:
# print(bills.shape)
# print(bills.columns)
# bills.Cong.unique()

##### inner bills file

In [6]:
# _ = rearrange_csv_columns('data/bills/data/congress/output/bills.csv')
bills_initial = pd.read_csv('../data/bills/data/congress/output/new_bills.csv', low_memory=False)

In [7]:
bills_initial = bills_initial[ bills_initial['isBill'] == 1]

In [8]:
print(bills_initial.shape)
print(bills_initial.columns)
bills_initial.Cong.unique()

(236317, 35)
Index(['idNEW', 'idOLD', 'BillNum', 'BillType', 'Cong', 'IntrDate',
       'ShortTitle', 'OfficialTitle', 'PopTitle', 'SpThomasID', 'SpName',
       'SpState', 'SpDist', 'UpdatedAt', 'CoSpThID', 'PLawNo', 'MinorBill',
       'PLawNoFull', 'compLaw', 'Major', 'Minor', 'ChRef', 'RankRef', 'MemRef',
       'SubChRef', 'SubRankRef', 'ImpBill', 'URL', 'isBill', 'Majority',
       'Senate', 'LeadRef', 'SpParty', 'commRefs', 'timestamp'],
      dtype='object')

array([ 93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104, 105,
       106, 107, 108, 109, 110, 111, 112, 113, 114])

In [9]:
bills_initial.loc[1]

idNEW                                                            2
idOLD                                                       220390
BillNum                                                       5938
BillType                                                        hr
Cong                                                            93
IntrDate                                                1973-03-21
ShortTitle       Elementary or Secondary Education Tax Credit A...
OfficialTitle    A bill to amend the Internal Revenue Code of 1...
PopTitle                                                       NaN
SpThomasID                                                     320
SpName                                         Dulski, Thaddeus J.
SpState                                                         NY
SpDist                                                          37
UpdatedAt                                      2014-01-28 14:37:07
CoSpThID                                                       NaN
PLawNo                                                         NaN
MinorBill                                                        0
PLawNoFull                                                       0
compLaw                                                        NaN
Major                                                            6
Minor                                                          602
ChRef                                                            0
RankRef                                                          0
MemRef                                                           0
SubChRef                                                         0
SubRankRef                                                       0
ImpBill                                                          1
URL              http://beta.congress.gov/bill/93th-congress/ho...
isBill                                                           1
Majority                                                         1
Senate                                                           0
LeadRef                                                          0
SpParty                                                          D
commRefs                                                       NaN
timestamp                                      2015-07-30 20:09:44
Name: 1, dtype: object

In [10]:
BILL_COLUMNS = ['Cong', 'SpParty', 'Major', 'SpState', 'idNEW', 'URL']
bills_initial = bills_initial[BILL_COLUMNS]

In [11]:
print(bills_initial.shape)
print(bills_initial.columns)
bills_initial.head(1)

(236317, 6)
Index(['Cong', 'SpParty', 'Major', 'SpState', 'idNEW', 'URL'], dtype='object')

,Cong,SpParty,Major,SpState,idNEW,URL
0,93,D,20.0,IL,1,http://beta.congress.gov/bill/93th-congress/ho...

In [12]:
bills = pd.DataFrame(index=bills_initial.index)
bills[['Cong', 'SpParty', 'SpState', 'idNEW', 'URL']] = bills_initial[['Cong', 'SpParty', 'SpState', 'idNEW', 'URL']]
bills['Major'] = bills_initial['Major'].map(subjects_dict) 
bills['Major'].fillna('Other', inplace=True)

In [13]:
bills.head(1)

,Cong,SpParty,SpState,idNEW,URL,Major
0,93,D,IL,1,http://beta.congress.gov/bill/93th-congress/ho...,Government Operations

### Grouping

In [14]:
bills_count = bills.groupby(BILL_COLUMNS[0:4]).size()
grouped_bills_count = bills_count.to_frame()
grouped_bills_count.columns = ['count']
grouped_bills_count.head(5)

                                  count
Cong SpParty Major       SpState
93   D       Agriculture AL           1
                         AR          18
                         AZ           1
                         CA          29
                         CO           3

In [15]:
grouped_id_list = bills.groupby(['Cong', 'SpParty', 'Major', 'SpState'], as_index=False)['idNEW'].agg(
    {'id_list':(lambda x: list(x))})
grouped_id_list.set_index(['Cong', 'SpParty', 'Major', 'SpState'], inplace=True)
grouped_id_list.head(5)

                                                                            id_list
Cong SpParty Major       SpState
93   D       Agriculture AL                                                 [24509]
                         AR       [1614, 2152, 3042, 5288, 5571, 7787, 8518, 106...
                         AZ                                                 [12457]
                         CA       [646, 652, 690, 1862, 1877, 2804, 2863, 3029, ...
                         CO                                   [15363, 15462, 23226]

In [16]:
grouped_url_list = bills.groupby(['Cong', 'SpParty', 'Major', 'SpState'], as_index=False)['URL'].agg(
    {'url_list':(lambda x: list(x))})
grouped_url_list.set_index(['Cong', 'SpParty', 'Major', 'SpState'], inplace=True)
grouped_url_list.head(5)

                                                                           url_list
Cong SpParty Major       SpState
93   D       Agriculture AL       [http://beta.congress.gov/bill/93th-congress/s...
                         AR       [http://beta.congress.gov/bill/93th-congress/h...
                         AZ       [http://beta.congress.gov/bill/93th-congress/h...
                         CA       [http://beta.congress.gov/bill/93th-congress/h...
                         CO       [http://beta.congress.gov/bill/93th-congress/h...

In [24]:
grouped_bills = pd.merge(grouped_id_list, grouped_url_list, left_index=True, right_index=True)
grouped_bills = pd.merge(grouped_bills, grouped_bills_count, left_index=True, right_index=True)
grouped_bills.head(5)

                                                                            id_list  \
Cong SpParty Major       SpState
93   D       Agriculture AL                                                 [24509]
                         AR       [1614, 2152, 3042, 5288, 5571, 7787, 8518, 106...
                         AZ                                                 [12457]
                         CA       [646, 652, 690, 1862, 1877, 2804, 2863, 3029, ...
                         CO                                   [15363, 15462, 23226]

                                                                           url_list  \
Cong SpParty Major       SpState
93   D       Agriculture AL       [http://beta.congress.gov/bill/93th-congress/s...
                         AR       [http://beta.congress.gov/bill/93th-congress/h...
                         AZ       [http://beta.congress.gov/bill/93th-congress/h...
                         CA       [http://beta.congress.gov/bill/93th-congress/h...
                         CO       [http://beta.congress.gov/bill/93th-congress/h...

                                  count
Cong SpParty Major       SpState
93   D       Agriculture AL           1
                         AR          18
                         AZ           1
                         CA          29
                         CO           3

In [25]:
final_grouped = pd.DataFrame(index=grouped_bills.index) 
final_grouped['id_list'] = [ ';'.join([str(x) for x in row]) for row in grouped_bills['id_list']]
final_grouped['url_list'] = [ ';'.join([str(x) for x in row]) for row in grouped_bills['url_list']]
final_grouped['count'] = grouped_bills_count['count']
final_grouped.head()

                                                                            id_list  \
Cong SpParty Major       SpState
93   D       Agriculture AL                                                   24509
                         AR       1614;2152;3042;5288;5571;7787;8518;10697;10903...
                         AZ                                                   12457
                         CA       646;652;690;1862;1877;2804;2863;3029;4514;5686...
                         CO                                       15363;15462;23226

                                                                           url_list  \
Cong SpParty Major       SpState
93   D       Agriculture AL       http://beta.congress.gov/bill/93th-congress/se...
                         AR       http://beta.congress.gov/bill/93th-congress/ho...
                         AZ       http://beta.congress.gov/bill/93th-congress/ho...
                         CA       http://beta.congress.gov/bill/93th-congress/ho...
                         CO       http://beta.congress.gov/bill/93th-congress/ho...

                                  count
Cong SpParty Major       SpState
93   D       Agriculture AL           1
                         AR          18
                         AZ           1
                         CA          29
                         CO           3

In [26]:
final_grouped.to_csv('../project/app/data/grouped_bills.csv', sep=',', encoding='utf-8', escapechar=';')